<%= simple_form_for(@professional) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :specialties, as: :check_boxes, collection: Specialty.all %>

    <div class="mb-4">
      <%= f.label :available_days, "Dias disponíveis", class: "block font-semibold mb-1" %>
      <div class="flex gap-4">
        <%= f.collection_check_boxes :available_days, [
          ['monday', 'Segunda'],
          ['tuesday', 'Terça'],
          ['wednesday', 'Quarta'],
          ['thursday', 'Quinta'],
          ['friday', 'Sexta']
        ], :first, :last %>
      </div>
    </div>

    <div class="mb-4">
      <%= f.label :available_hours, "Horários disponíveis", class: "block font-semibold mb-1" %>
      <div class="flex flex-wrap gap-2">
        <%= f.collection_check_boxes :available_hours, [
          ['08:00', '08:00'],
          ['08:30', '08:30'],
          ['09:00', '09:00'],
          ['09:30', '09:30'],
          ['10:00', '10:00'],
          ['10:30', '10:30'],
          ['11:00', '11:00'],
          ['11:30', '11:30'],
          ['12:00', '12:00'],
          ['12:30', '12:30'],
          ['13:00', '13:00'],
          ['13:30', '13:30'],
          ['14:00', '14:00'],
          ['14:30', '14:30'],
          ['15:00', '15:00'],
          ['15:30', '15:30'],
          ['16:00', '16:00'],
          ['16:30', '16:30'],
          ['17:00', '17:00'],
          ['17:30', '17:30'],
          ['18:00', '18:00']
        ], :first, :last do |b| %>
          <div class="flex items-center mr-2 mb-2">
            <%= b.check_box(class: "mr-1") %>
            <%= b.label(class: "text-sm") %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mb-4">
      <%= f.label :default_session_duration, "Duração padrão da sessão", class: "block font-semibold mb-1" %>
      <%= f.select :default_session_duration, options_for_select([["30 minutos", 30], ["45 minutos", 45], ["60 minutos", 60]], @professional.default_session_duration), {}, class: "block w-48 p-2 border rounded" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
