<div id="<%= dom_id professional %>">
  <p>
    <strong>Name:</strong>
    <%= professional.name %>
  </p>

  <p>
    <strong>Specialty:</strong>
    <%= professional.specialty %>
  </p>

  <p>
    <strong>Available days:</strong>
    <%= professional.available_days %>
  </p>

  <p>
    <strong>Available hours:</strong>
    <%= professional.available_hours %>
  </p>

</div>
