<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= patient.birthdate %>
  </p>

  <p>
    <strong>Diagnosis:</strong>
    <%= patient.diagnosis %>
  </p>

  <p>
    <strong>Observations:</strong>
    <%= patient.observations %>
  </p>

</div>
